{% extends 'base/web-base.html' %}

{% block container %}

{% load static %}

<header class="flex fixed w-full bg-white py-4 pl-10 pr-14 border-b shadow-md">
    <a href="{% url 'web:index' %}" class=""><img src="{% static 'web/images/arrow.png' %}" alt="" class="w-[25px]"></a>
    <h1 class="text-[24px] font-bold mx-auto">Address</h1>
</header>

<section class="py-14"></section>
    <section class="wrappper">
        <div class="">
            <div class="p-3 bg-slate-200 rounded-xl w-[580px] h-[220px] shadow-md border mx-auto pr-32">
                
            </div>
        </div>
    </section>
</section>

<section class="w-[580px] mx-auto py-3 pr-32">
    <p class="text-[16px] font-semibold py-2">Address</p>
    <input type="text" class="w-[580px] h-10 rounded-md border-2">

    <p class="text-[16px] font-semibold py-2">Appartment</p>
    <input type="text" class="w-[580px] h-10 rounded-md border-2">

    <p class="text-[16px] font-semibold py-2">Landmark</p>
    <input type="text" class="w-[580px] h-10 rounded-md border-2">

    <p class="text-[16px] font-semibold py-2">Label as</p>
    <ul class="w-[580px] flex justify-between pb-2">
        <li class="w-[30%] py-[7px] text-center text-white font-semibold bg-red-500 rounded-md">HOME</li>
        <li class="w-[30%] py-[7px] text-center font-semibold rounded-md">WORK</li>
        <li class="w-[30%] py-[7px] text-center font-semibold rounded-md">OTHER</li>
    </ul>

    <button class="w-[580px] h-10 bg-red-500 text-white rounded-md font-semibold py-2 my-2 px-4">SAVE ADDRESS</button>
</section>


{% endblock %}